# Zookeeper
ZOOKEEPER_CLIENT_PORT=2181

# Kafka
KAFKA_EXTERNAL_PORT=9092

# Kafka UI
KAFKA_UI_PORT=8090

# PostgreSQL
POSTGRES_PORT=5432
POSTGRES_DB=europay_db
DB_USER=europay
DB_PASSWORD=europay_pass

# MongoDB
MONGO_PORT=27017
MONGO_DB=europay_audit

# Redis
REDIS_PORT=6379

# JWT (change en production — minimum 256 bits)
JWT_SECRET=change-me-in-production-256-bits-minimum
